<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team</title>

    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bondi.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">



</head>

<body>
    <nav class="navbar navbar-expand-lg  sticky-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="~/imgs/TeamLogo2.jpg" width="87px" height="44px" class="img-fluid"
                     alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main"
                    aria-controls="main" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="main">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active p-2 p-lg-3" aria-current="page" href="~/home">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link p-2 p-lg-3" href="~/overview">Tales</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link p-2 p-lg-3" href="~/vision">Vision</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2 p-lg-3" href="~/mission">Mission</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2 p-lg-3" href="~/aboutus">About Us</a>
                    </li>


                </ul>

                <div class="search pe-3 ps-3 d-none d-lg-block ">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>



            </div>
        </div>
    </nav>


    <div class="back-blue p-5">
        <div class="container p-5">

            <h1 class="yellow-color text-center m-5">Maritime Orbiters</h1>


            <div class="row g-4">

                <div class="col-lg-4 col-md-6">


                    <div class="team-card back-blue">
                        <img src="imgs/marwan.jpg" class="img-fluid" alt="Member 1">
                        <div class="card-body">
                            <h5>Marwan Mohamed</h5>
                            <h4>Team Leader</h4>
                            <div class="social-icons">
                                <a href="https://www.linkedin.com/in/marwan-mohamed-809971200?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
                                   target="_blank"><i class="fab fa-linkedin linkedin"></i></a>
                                <a href="https://github.com/ahmed" target="_blank">
                                    <i class="fab fa-github github"></i>
                                </a>
                                <a href="mailto:marwanmohamedelsaid732@gmail.com">
                                    <i class=" fas fa-envelope
                                    mail"></i>
                                </a>
                            </div>
                        </div>
                    </div>



                </div>
                



                <div class="col-lg-4 col-md-6">


                    <div class="team-card back-blue">
                        <img src="imgs/Atta.jpg" class="img-fluid" alt="Member 1">
                        <div class="card-body">
                            <h5>Abdelrahman Atta</h5>
                            <h4>Hardware Development</h4>

                            <div class="social-icons">
                                <a href="https://eg.linkedin.com/in/aaatta" target="_blank">
                                    <i class="fab fa-linkedin linkedin"></i>
                                </a>
                                <a href="https://github.com/AbdelrhmanAtta" target="_blank">
                                    <i class="fab fa-github github"></i>
                                </a>
                                <a href="mailto:abdelrhmatta@gmail.com"><i class="fas fa-envelope mail"></i></a>
                            </div>
                        </div>
                    </div>



                </div>

                <div class="col-lg-4 col-md-6">


                    <div class="team-card back-blue">
                        <img src="imgs/Ali.jpg" class="img-fluid" alt="Member 1">
                        <div class="card-body">
                            <h5>Ali Gad</h5>
                            <h4>AI Development</h4>


                            <div class="social-icons">
                                <a href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile"
                                   target="_blank"><i class="fab fa-linkedin linkedin"></i></a>
                                <a href="https://github.com/aligad12" target="_blank">
                                    <i class="fab fa-github github"></i>
                                </a>
                                <a href="mailto:aliigad2005@gmail.com"><i class="fas fa-envelope mail"></i></a>
                            </div>
                        </div>
                    </div>



                </div>

                <div class="col-lg-4 col-md-6">


                    <div class="team-card back-blue">
                        <img src="imgs/Abozeid.jpg" class="img-fluid" alt="Member 1">
                        <div class="card-body">
                            <h5>Ahmed Abozeid</h5>
                            <h4>Web Development</h4>

                            <div class="social-icons">
                                <a href="https://www.linkedin.com/in/ahmedabozeid1/" target="_blank">
                                    <i class="fab fa-linkedin linkedin"></i>
                                </a>
                                <a href="https://github.com/Abozeid125" target="_blank">
                                    <i class="fab fa-github github"></i>
                                </a>
                                <a href="mailto:mido200599m@gmail.com"><i class="fas fa-envelope mail"></i></a>
                            </div>
                        </div>
                    </div>



                </div>

                <div class="col-lg-4 col-md-6">


                    <div class="team-card back-blue">
                        <img src="imgs/Maryam.jpg" class="img-fluid" alt="Member 1">
                        <div class="card-body">
                            <h5>Mariam Ramy</h5>
                            <h4>AI Development</h4>


                            <div class="social-icons">
                                <a href="https://www.linkedin.com/in/mariam-ramy-3605142a6?utm_source=share_via&utm_content=profile&utm_medium=member_android"
                                   target="_blank"><i class="fab fa-linkedin linkedin"></i></a>
                                <a href="https://github.com/mariammmramy" target="_blank">
                                    <i class="fab fa-github github"></i>
                                </a>
                                <a href="mailto:mariammm.ramy06@gmail.com"><i class="fas fa-envelope mail"></i></a>
                            </div>
                        </div>
                    </div>






                </div>

                <div class="col-lg-4 col-md-6">


                    <div class="team-card back-blue">
                        <img src="imgs/Lojine.jpg" class="img-fluid" alt="Member 1">
                        <div class="card-body">
                            <h5>Lojine Ahmed</h5>
                            <h4>AI Development</h4>

                            <div class="social-icons">
                                <a href="https://www.linkedin.com/in/lojine-ahmed-1473a8351?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
                                   target="_blank"><i class="fab fa-linkedin linkedin"></i></a>
                                <a href="https://github.com/lojy66" target="_blank">
                                    <i class="fab fa-github github"></i>
                                </a>
                                <a href="mailto:Lojineahmedreda@gmail.com"><i class="fas fa-envelope mail"></i></a>
                            </div>
                        </div>
                    </div>






                </div>

            </div>

        </div>
    </div>












        <script src="js/all.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
</body>

</html>